<%= form_for(@shard) do |f| %>
  <% if @shard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shard.errors.count, "error") %> prohibited this shard
        from being saved:</h2>

      <ul>
        <% @shard.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :adapter %></th>
      <td><%= f.text_field :adapter %></td>
    </tr>
    <tr>
      <th class="top"><%= f.label :host %></th>
      <td><%= f.text_area :host %></td>
    </tr>
    <tr>
      <th><%= f.label :socket %></th>
      <td><%= f.text_field :socket %></td>
    </tr>
    <tr>
      <th><%= f.label :username %></th>
      <td><%= f.text_field :username %></td>
    </tr>
    <tr>
      <th><%= f.label :password %></th>
      <td><%= f.text_field :password %></td>
    </tr>
    <tr>
      <th><%= f.label :database %></th>
      <td><%= f.text_field :database %></td>
    </tr>
    <tr>
      <th><%= f.label :pool %></th>
      <td><%= f.number_field :pool %></td>
    </tr>
    <tr>
      <th><%= f.label :encoding %></th>
      <td><%= f.text_field :encoding %></td>
    </tr>
    <tr>
      <th><%= f.label :reconnect %></th>
      <td><%= f.check_box :reconnect %></td>
    </tr>
    <tr>
      <th><%= f.label :principle_model %></th>
      <td><%= f.text_field :principle_model %></td>
    </tr>
    <tr>
      <th><%= f.label :auto_increment_start %></th>
      <td><%= f.text_field :auto_increment_start %></td>
    </tr>
    <tr>
      <th><%= f.label :auto_increment_range %></th>
      <td><%= f.text_field :auto_increment_range %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>
