<h1>Listing Shards</h1>

<table class="list_view">
  <tr>
    <th class="first">Adapter</th>
    <th>Host / Socket</th>
    <th>Username / Password / Database</th>
    <th>Pool / Encoding / Reconnect</th>
    <th>Principle Model</th>
    <th>Auto Increment Start</th>
    <th>Auto Increment Range</th>
    <th class="last"></th>
  </tr>

<% @shards.each_with_index do |shard, i| %>
<% row_class = i%2 == 0 ? "even" : "odd" %>
  <tr class="<%= row_class %>">
    <td><%= shard.adapter %></td>
    <td><%= shard.host %> / <%= shard.socket %></td>
    <td><%= shard.username %> / <%= shard.password %> / <%= shard.database %></td>
    <td><%= shard.pool %> / <%= shard.encoding %> / <%= shard.reconnect %></td>
    <td><%= shard.principle_model %></td>
    <td><%= shard.auto_increment_start %></td>
    <td><%= shard.auto_increment_range %></td>
    <td><%= link_to 'Show', shard %> / <%= link_to 'Edit', edit_shard_path(shard) %> / <%= link_to 'Destroy', shard, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shard', new_shard_path %>
