<%= form_for(@email_service_provider) do |f| %>
  <% if @email_service_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_service_provider.errors.count, "error") %> prohibited this email_service_provider from being saved:</h2>

      <ul>
      <% @email_service_provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :address %></th>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <th><%= f.label :port %></th>
      <td><%= f.number_field :port %></td>
    </tr>
    <tr>
      <th><%= f.label :domain %></th>
      <td><%= f.text_field :domain %></td>
    </tr>
    <tr>
      <th><%= f.label :user_name %></th>
      <td><%= f.text_field :user_name %></td>
    </tr>
    <tr>
      <th><%= f.label :password %></th>
      <td><%= f.text_field :password %></td>
    </tr>
    <tr>
      <th><%= f.label :authentication %></th>
      <td><%= f.text_field :authentication %></td>
    </tr>
    <tr>
      <th><%= f.label :enable_starttls_auto %></th>
      <td><%= f.check_box :enable_starttls_auto %></td>
    </tr>
    <tr>
      <th><%= f.label :enable_sendgrid_tracking %></th>
      <td><%= f.check_box :enable_sendgrid_tracking %></td>
    </tr>
    <tr>
      <th><%= f.label :enable_auto_google_analytics %></th>
      <td><%= f.check_box :enable_auto_google_analytics %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= f.submit %></td>
    </tr>
  </table>

<% end %>
