<h1>Listing Email Service Providers</h1>

<table class="list_view">
  <tr>
    <th class="first">Name</th>
    <th>Address / Port / Domain</th>
    <th>Username / Password</th>
    <th>Authentication / Enable starttls auto</th>
    <th>Enable sendgrid tracking / auto google analytics</th>
    <th class="last"></th>
  </tr>

<% @email_service_providers.each do |email_service_provider| %>
  <tr>
    <td><%= email_service_provider.name %></td>
    <td><%= email_service_provider.address %> / <%= email_service_provider.port %> / <%= email_service_provider.domain %></td>
    <td><%= email_service_provider.user_name %> / <%= email_service_provider.password %></td>
    <td><%= email_service_provider.authentication %> / <%= email_service_provider.enable_starttls_auto %></td>
    <td><%= email_service_provider.enable_sendgrid_tracking %> / <%= email_service_provider.enable_auto_google_analytics %></td>
    <td><%= link_to 'Show', email_service_provider %> / <%= link_to 'Edit', edit_email_service_provider_path(email_service_provider) %> / <%= link_to 'Destroy', email_service_provider, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Email service provider', new_email_service_provider_path %>
