<%= javascript_include_tag "facebase/ace/ace.js" %>
<%= javascript_include_tag "facebase/ace/theme-twilight.js" %>
<%= javascript_include_tag "facebase/ace/mode-html.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>

<h1>Editing <%= "#{@component.campaign.name} => #{@component.stream.name} => #{@component.name}" %></h1>

<br>

<form id="preview-form" action="#">
  <table>
    <tr>
      <th><label>Component Name</label></th>
      <td>
        <input type="text" name="component[name]" value="<%= @component.name %>">
      </td>
    </tr>
    <tr>
      <th><label>Suffix</label></th>
      <td>
        <input type="text" name="component[suffix]" value="<%= @component.suffix %>">
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <th><label>Subject Line</label></th>
      <td>
        <input name="subject_line" type="text">
      </td>
    </tr>
    <% @template_keys.each do |key| %>
      <tr>
        <th><label><%= key.to_s %></label></th>
        <td>
          <input type="text" name="template_values[<%= key.to_s %>]" value="<%= key.to_s.humanize %>"/>
        </td>
      </tr>
    <% end %>
  </table>

  <div id="editor-complete">
    <div id="editor-wrapper">
      <!-- IMPORTANT: There can be NO spaces between the template and editor div -->
      <div id="editor"><%= @template %></div>
    </div>
    <button id="save-template">Save</button>
  </div>

  <table>
    <tr>
      <td>
        <input id="preview-button" type="submit" value="Preview"/>
      </td>
      <td>
        <input id="litmus-button" type="submit" value="Litmus Preview"/>
      </td>
      <td>
        <input id="direct-button" type="submit" value="Email to:"/>
      </td>
      <td>
        <input name="email_address" type="text" value=""/>
      </td>
    </tr>
  </table>
</form>


<script type="text/javascript">

  $(function () {

    //Boot Ace
    editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    var JavaScriptMode = require("ace/mode/html").Mode;
    editor.getSession().setMode(new JavaScriptMode());


    // Don't allow the form to submit regularly (via 'enter' or other silliness)
    $("#preview-form").submit(function (e) {
      e.preventDefault();
      return false;
    });


    // Preview button setup
    $("#preview-button").click(function (e) {
      e.preventDefault();

      var dataArray = buildFormDataArray();

      $.ajax({
        url:"<%= preview_component_path(@component) %>",
        type:"POST",
        data:dataArray,
        success:function (result) {
          var previewDocucment = document.getElementById("preview-frame").contentWindow.document;
          previewDocucment.open();
          previewDocucment.write(result);
          previewDocucment.close();
        },
        error:function () {
          console.log("error");
        }
      });
      return false;
    });

    // litmus checking setup
    $("#litmus-button").click(function (e) {
      e.preventDefault();

      var dataArray = buildFormDataArray();

      $.ajax({
        url:"<%= litmus_preview_component_path(@component) %>",
        type:"POST",
        data:dataArray,
        success:function (result) {
          alert("Litmus is now processing. Go check Litmus.com")
        },
        error:function () {
          console.log("error");
        }
      });
      return false;
    });


    // direct email setup
    $("#direct-button").click(function (e) {
      e.preventDefault();

      var dataArray = buildFormDataArray();

      $.ajax({
        url:"<%= direct_preview_component_path(@component) %>",
        type:"POST",
        data:dataArray,
        success:function (result) {
          alert("Email sent. Check your email address")
        },
        error:function () {
          console.log("error");
        }
      });
      return false;
    });


    //Save support for the component including editor updates
    $("#save-template").click(function () {
      var dataArray = buildFormDataArray();
      $.ajax({
        url:"<%= component_path(@component, :format => :json) %>",
        type:"PUT",
        data:dataArray,
        success:function (result) {
          alert("Email saved.");
        },
        error:function () {
          alert("Error saving email.");
        }
      });
    });


    //Takes our form, appends the editor content, and serializes a array
    function buildFormDataArray() {
      var dataArray = $("#preview-form").serializeArray();
      dataArray.push({
        name:"template_content",
        value:editor.getSession().getValue()
      });
      return dataArray;
    }

  });

</script>

<iframe id="preview-frame"></iframe>

<div id="edit_links">
  <%= link_to 'Show', @component %>
  <%= link_to 'Back', components_path %>
</div>



