<%= javascript_include_tag "facebase/ace/ace.js" %>
<%= javascript_include_tag "facebase/ace/theme-twilight.js" %>
<%= javascript_include_tag "facebase/ace/mode-html.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>

<style type="text/css">
  #editor-wrapper {
    position: relative;
    width: 95%;
    height: 400px;
  }

  #editor {
    position: absolute;
    width: 100%;
    height: 400px;
  }

  #preview-frame {
    width: 1024px;
    height: 800px;
  }
</style>

<h1>Editing <%= "#{@component.campaign.name} => #{@component.stream.name} => #{@component.name}" %></h1>

<div id="editor-wrapper">
  <div id="editor">
    <%= @template %>
  </div>
</div>

<button id="preview-button">Preview</button>
<button id="test">Send Test</button>
<button id="litmus">Litmus</button>

<br>
<br>

<form id="preview-form">
  <% @template_keys.each do |key| %>
    <label><%= key.to_s %></label>
    <input type="text" name="template_values[<%= key.to_s %>]" value="<%= key.to_s.humanize %>">
    <br><br>
  <% end %>
  <input id="template-content" name="template_content" type="hidden">
  <input type="submit">
</form>

<br>
<br>
<%= link_to 'Show', @component %> |
<%= link_to 'Back', components_path %>
<br>


<script type="text/javascript">

  $(function () {

    editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    var JavaScriptMode = require("ace/mode/html").Mode;
    editor.getSession().setMode(new JavaScriptMode());

    // Build the data array
    var dataArray = $("#preview-form").serializeArray();
    dataArray.push({
      name:"template_content",
      value:editor.getSession().getValue()
    });

    // Submit the preview data to the server
    $("#preview-form").submit(function (response) {
      $.ajax({
        url:"<%= preview_component_path(@component) %>",
        type:"POST",
        data:dataArray,
        success:function (result) {
          document.getElementById("preview-frame").contentWindow.document.write(result);
//          console.log(result);
        },
        error:function () {
          console.log("error");
        }
      });
      return false;
    });
  });

</script>



<iframe id="preview-frame"></iframe>



