<%= javascript_include_tag "facebase/ace/ace.js" %>
<%= javascript_include_tag "facebase/ace/theme-twilight.js" %>
<%= javascript_include_tag "facebase/ace/mode-html.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>

<h1>Editing <%= "#{@component.campaign.name} => #{@component.stream.name} => #{@component.name}" %></h1>

<br>

<div>
  <% if @error %>
    Errors were detected -- Message and backtrace follow: <br><br>
    <%= @error.message %>
    <br><br>
    <%= raw @error.backtrace.join("<br>") %>
  <% end %>
</div>

<br>

<form id="preview-form" action="#">
  <table>
    <tr>
      <th><label>Component Name</label></th>
      <td>
        <input type="text" name="component[name]" value="<%= @component.name %>">
      </td>
      <th class="left_space"><label>Suffix</label></th>
      <td>
        <input type="text" name="component[suffix]" value="<%= @component.suffix %>">
      </td>
    </tr>
    <tr>
      <th><label>Subject Line</label></th>
      <td>
        <input name="subject_line" type="text">
      </td>

      <% @template_keys.each_with_index do |key, i| %>

        <% if i % 2 != 0 %>
        <tr>
      <% end %>

      <th <%= (i % 2 == 0) ? "class='left_space'" : "" %>>
        <label><%= key.to_s %></label>
      </th>

      <td>
        <input type="text" name="template_values[<%= key.to_s %>]" value="<%= key.to_s.humanize %>"/>
      </td>

      <% if i % 2 == 0 %>
        </tr>
      <% end %>

    <% end %>
    </tr>
  </table>

  <div class="notification">
    <p>
      <strong>Keyboard Shortcuts</strong><br />
      <em>Ctrl + L:</em> Editor<br />
      <em>Ctrl + H:</em> Previewer<br />
      &nbsp;<em>Ctrl + K:</em> Cycle through resolutions
    </p>
  </div>

  <div id="toggle_navigation">
    <a href="#" id="editor_link" class="selected">Editor</a>
    <a href="#" id="preview_link">Previewer</a>

    <div id="screen_resolutions">
      <a href="#" id="800_600" class="selected">800 x 600</a>
      <a href="#" id="1024_768">1024 x 768</a>
    </div>
  </div>

  <div id="editor-complete">
    <div id="editor-wrapper">
      <% # IMPORTANT: There can be NO spaces between the template and editor div   %>
      <div id="editor"><%= @template %></div>
    </div>

    <div id="preview">
      <iframe id="preview-frame"></iframe>
    </div>

    <button id="save-template">Save</button>
  </div>

  <table id="preview_options">
    <tr>
      <td valign="middle">
        <input id="preview-button" type="submit" value="Preview"/>
      </td>
      <td>
        <input id="litmus-button" type="submit" value="Litmus Preview"/>
      </td>
      <td>
        <input id="direct-button" type="submit" value="Email to:"/>
      </td>
      <td>
        <input name="email_address" id="email_address" type="text" value=""/>
      </td>
    </tr>
  </table>
</form>

<div id="edit_links">
  <%= link_to 'Show', @component %>
  <%= link_to 'Back', components_path %>
</div>


<script type="text/javascript">

  $(function () {
    function loadPreview() {
      var dataArray = buildFormDataArray();

      $.ajax({
        url:"<%= preview_component_path(@component) %>",
        type:"POST",
        data:dataArray,
        success:function (result) {
          var previewDocucment = document.getElementById("preview-frame").contentWindow.document;
          previewDocucment.open();
          previewDocucment.write(result);
          previewDocucment.close();
        },
        error:function () {
          console.log("error");
        }
      });
    }

    function updateResolution(currentID) {
      var sizeVars = $(currentID).attr("id");
      sizeVars = sizeVars.split("_");
      var height = sizeVars[1];
      var width = sizeVars[0];

      var theFrame = $("#preview-frame", parent.document.body);
      theFrame.height(height);
      theFrame.width(width);

      $("#preview").css("height: " + height + "px;");
      $("#screen_resolutions a").removeClass();
      $(currentID).addClass("selected");
    }

    $("#screen_resolutions a").click(function () {
      updateResolution(this);

      return false;
    });

    $("#preview_link").click(function () {
      $("#editor_link").removeClass();
      $("#preview_link").addClass("selected");
      $("#screen_resolutions").show();
      $("#editor-wrapper").hide();
      $("#preview").show();

      loadPreview();
      return false;
    });

    $("#editor_link").click(function () {
      $("#preview_link").removeClass();
      $("#editor_link").addClass("selected");
      $("#screen_resolutions").hide();
      $("#preview").hide();
      $("#editor-wrapper").show();

      return false;
    });

    //Boot Ace
    editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    var JavaScriptMode = require("ace/mode/html").Mode;
    editor.getSession().setMode(new JavaScriptMode());


    // Don't allow the form to submit regularly (via 'enter' or other silliness)
    $("#preview-form").submit(function (e) {
      e.preventDefault();
      return false;
    });


    // Preview button setup
    $("#preview-button").click(function (e) {
      e.preventDefault();

      $("#editor_link").removeClass();
      $("#preview_link").addClass("selected");
      $("#screen_resolutions").show();
      $("#editor-wrapper").hide();
      $("#preview").show();

      loadPreview();
      return false;
    });

    // litmus checking setup
    $("#litmus-button").click(function (e) {
      e.preventDefault();

      $("#litmus-button").parent().html("<div id='litmus_loading' class='loading'><img src='/assets/facebase/loading.gif' alt='loading' /> Processing Litmus Test</div>");
      var dataArray = buildFormDataArray();

      $.ajax({
        url:"<%= litmus_preview_component_path(@component) %>",
        type:"POST",
        data:dataArray,
        success:function (result) {
          $("#litmus_loading").html("Litmus test submitted. Check Litmus.com.");
        },
        error:function () {
          $("#litmus_loading").html("Litmus test did not submit. There was an error.")
        }
      });
      return false;
    });


    // direct email setup
    $("#direct-button").click(function (e) {
      e.preventDefault();

      var dataArray = buildFormDataArray();

      $("#direct-button").parent().html("<div id='email_loading' class='loading'><img src='/assets/facebase/loading.gif' alt='loading' /> Processing Email</div>");
      $("#email_address").parent().html("");

      $.ajax({
        url:"<%= direct_preview_component_path(@component) %>",
        type:"POST",
        data:dataArray,
        success:function (result) {
          $("#email_loading").html("Email sent. Check your email address");
        },
        error:function () {
          $("#email_loading").html("The email was not sent. There was an error.");
        }
      });
      return false;
    });


    //Save support for the component including editor updates
    $("#save-template").click(function () {
      var dataArray = buildFormDataArray();
      $.ajax({
        url:"<%= component_path(@component, :format => :json) %>",
        type:"PUT",
        data:dataArray,
        success:function (result) {
          alert("Email saved.");
        },
        error:function () {
          alert("Error saving email.");
        }
      });
    });


    //Takes our form, appends the editor content, and serializes a array
    function buildFormDataArray() {
      var dataArray = $("#preview-form").serializeArray();
      dataArray.push({
        name:"template_content",
        value:editor.getSession().getValue()
      });
      return dataArray;
    }


    $.ctrl = function (key, callback, args) {
      var isCtrl = false;

      $(document).keydown(
        function (e) {
          if (!args) args = [];

          if (e.ctrlKey) isCtrl = true;

          if (e.keyCode == key.charCodeAt(0) && isCtrl) {
            callback.apply(this, args);
            return false;
          }
        }).keyup(function (e) {
          if (e.ctrlKey) isCtrl = false;
        });
    };

    $.ctrl('L', function () {
      $("#preview_link").removeClass();
      $("#editor_link").addClass("selected");
      $("#screen_resolutions").hide();
      $("#preview").hide();
      $("#editor-wrapper").show();
    });

    $.ctrl('H', function () {
      $("#editor_link").removeClass();
      $("#preview_link").addClass("selected");
      $("#screen_resolutions").show();
      $("#editor-wrapper").hide();
      $("#preview").show();

      var dataArray = buildFormDataArray();

      $.ajax({
        url:"<%= preview_component_path(@component) %>",
        type:"POST",
        data:dataArray,
        success:function (result) {
          var previewDocucment = document.getElementById("preview-frame").contentWindow.document;
          previewDocucment.open();
          previewDocucment.write(result);
          previewDocucment.close();
        },
        error:function () {
          console.log("error");
        }
      });
    });

    $.ctrl('K', function () {
      var id = $("#screen_resolutions .selected").attr("id");
      var next_id = $("a#" + id).next().attr("id");

      if (typeof next_id == "undefined") {
        next_id = $("#screen_resolutions a:first").attr("id");
      }

      $("#screen_resolutions a").removeClass();
      $("#" + next_id).addClass("selected");

      updateResolution("#" + next_id);
      return false;
    });
  });

</script>
