<h1>Listing Components</h1>

<table class="list_view">
  <tr>
    <th class="first">Name</th>
    <th>Suffix </th>
    <th>Uri</th>
    <th>Stream</th>
    <th class="last"></th>
  </tr>

  <% @components.each do |component| %>
    <tr>
      <td><%= component.name %></td>
      <td><%= component.suffix %></td>
      <td><%= component.uri %> </td>
      <td><%= component.stream.name %></td>
      <td><%= link_to 'Show', component %> |
        <%= component.editable ? (link_to 'Edit', edit_component_path(component)) + " | " : "" %>
        <%= link_to 'Destroy', component, confirm: 'Are you sure?', method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Component', new_component_path(:stream_id => @stream_id) %>
