<h1>Listing Campaigns</h1>

<table class="list_view">
  <tr>
    <th class="first">Name</th>
    <th></th>
    <th class="last"></th>
  </tr>

<% @campaigns.each_with_index do |campaign, i| %>
<% row_class = i%2 == 0 ? "even" : "odd" %>
  <tr class="<%= row_class %>">
    <td><%= campaign.name %></td>
    <td><%= link_to 'Streams', streams_path(:campaign_id => campaign.id) %></td>
    <td><%= link_to 'Show', campaign %> |
      <%= link_to 'Edit', edit_campaign_path(campaign) %> |
      <%= link_to 'Destroy', campaign, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campaign', new_campaign_path %>
