<h1>Listing Streams</h1>

<table class="list_view">
  <tr>
    <th class="first">Name</th>
    <th>Campaign</th>
    <th></th>
    <th class="last"></th>
  </tr>

<% @streams.each_with_index do |stream, i| %>
<% row_class = i%2 == 0 ? "even" : "odd" %>
  <tr class="<%= row_class %>">
    <td><%= stream.name %></td>
    <td><%= stream.campaign_id %></td>
    <td><%= link_to 'Components', components_path(:stream_id => stream.id) %></td>
    <td><%= link_to 'Show', stream %> |
      <%= link_to 'Edit', edit_stream_path(stream) %> |
      <%= link_to 'Destroy', stream, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stream', new_stream_path(:campaign_id => @campaign_id) %>
